* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-size: 1.8rem;
  padding: 0 2.2rem;
  
}
@media screen and (min-width: 767px) {
  body {
    padding: 0 4.4rem;
  }
}